<?xml version="1.0" encoding="UTF-8"?>
<!--
    cordova-plugin-countdowndialog
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova_plugin"
	version="0.0.1">

    <name>Count Down Dialog</name>
	<description>
			Plugin for showing a progress indicator based on Count Down Dialog For Android, iOS.
	</description>

	<keywords>phonegap,android,ios,count down dialog,dialog</keywords>
   <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/CountDownDialog.js" name="CountDownDialog">
        <clobbers target="CountDownDialog" />
    </js-module>
	<!-- android -->
    <platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="CountDownDialog">
                <param name="android-package" value="com.simpson0303.countdowndialog.CountDownDialog"/>
            </feature>
        </config-file>
                <resource-file src="src/android/progress_dialog.xml" target="res/layout/progress_dialog.xml" />
				<source-file src="src/android/CountDownDialog.java" target-dir="src/com/simpson0303/countdowndialog" />
        <asset src="src/android/digital-7.ttf" target="plugins/cordova_plugin/www/digital-7.ttf"/>
    </platform>
</plugin>
